#start-button {
  color: aliceblue;
  background: rgb(93, 48, 134);
  border: rgb(93, 48, 134);
}

#reset {
  color: aliceblue;
  background: rgb(93, 48, 134);
  border: rgb(93, 48, 134)
}

#answer {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

}

#question {
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#timeLeft {
  text-align: center;
  font-size: 28px;
  background: rgba(62, 49, 129, 0.418);
  color: whitesmoke;
  margin-left: 350px;
  margin-right: 350px;
}

.answerChoice:hover {
  border: rgb(65, 129, 145);
  border-style: double;
  border-width: 3px;
  cursor: pointer; 
  background: rgb(184, 182, 182);
}