#container {
  background: rgb(236, 234, 234);
}

#start-button {
  color: aliceblue;
  background: rgb(93, 48, 134);
}

img {
  max-height: 250px;
  width: auto;
}

#answer {
  text-align: center;

}

#question {
  text-align: center;
  font-weight: bold;
}

#timeLeft {
  text-align: center;
}

.answerChoice:hover {
  border: black;
  border-style: double;
  border-width: 5px;
  cursor: pointer; 
  background: grey;
}